@CHARSET "UTF-8";
/*-------------------------------------------------------------------------------
version:    1.0
author:    Alerio Llc
email:     info@alerio.ru
website:   http://www.alerio.ru/
---------------------------------------------------------------------------------*/
/* сбрасываем стили */  
@import url(reset.css);  

/* основные стили шаблона */
@import url(Screen.css);  

/* версии для печати */ 
@import url(Print.css);